<% @data.each do |staticpage| %>
    <div>
    	<h1><%= staticpage.title %></h1>
		</div>
		<div>
       <h5><%= raw staticpage.description %></h5>
      </div>   
		<br/>
		<br/>
<% end %>
<br />
<%= button_to "BACK",spree.root_path %>