<div>
	<form action="/users/<%=params[:id]%>/send_email" method="get">
		<input type="radio" name="bid" value="accept"><span style="font-size: 15px; margin-left: 6px;">Accept</span></input></br></br>
		<input type="radio" name="bid" value="cancel"><span style="font-size: 15px; margin-left: 6px;">Reject</span></input></br></br>
		<input type="Submit" value="Proceed">
	</form>
</div>